BODY {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; COLOR: #000000; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P {
	FONT-SIZE: 10pt; LINE-HEIGHT: 12pt; FONT-FAMILY: Arial
}
BR {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
UL {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
DL {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
H1 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN-BOTTOM: 12px; COLOR: #3366cc; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
H2 {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 14pt; MARGIN-BOTTOM: 0px; COLOR: #3366cc; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
H3 {
	MARGIN-TOP: 0px; FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; COLOR: #000000; FONT-FAMILY: Arial; TEXT-ALIGN: left
}
U.NORMAL {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
B.NORMAL {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
SMALL {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 12px; FONT-FAMILY: Arial
}
BIG {
	FONT-SIZE: 12pt; FONT-FAMILY: Arial
}
.LEFTMENU {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: Arial
}
B.LEFTMENU {
	COLOR: #ffcc00; FONT-FAMILY: Arial
}
A.LEFTMENU {
	COLOR: #ffffff; FONT-FAMILY: Arial; TEXT-DECORATION: none
}
A.LEFTMENU:hover {
	COLOR: #ffcc00; FONT-FAMILY: Arial
}
NOBR {
	FONT-SIZE: 10pt; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
NOBR.MENU {
	FONT-SIZE: 10pt; COLOR: #999999; LINE-HEIGHT: 18px; FONT-FAMILY: Arial
}
A:hover {
	COLOR: #66ccff; FONT-FAMILY: Arial
}
A.BMT {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11pt; MARGIN-BOTTOM: 0px; COLOR: #3366cc; FONT-FAMILY: Arial; TEXT-ALIGN: left; TEXT-DECORATION: none
}
UL {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px; LINE-HEIGHT: 120%; FONT-FAMILY: Arial
}
A.QUEST {
	COLOR: #3366cc
}
A.ANSWER {
	COLOR: #000000
}
